@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "";
    var permList = ViewBag.perm as List<MyProject.Core.Dtos.PermDto>;
    if (permList == null)
    {
        permList = new List<MyProject.Core.Dtos.PermDto>();
    }
}
@using MyProject.Services.MvcPager;
@using MyProject.Matrix.Controllers.Core;
@model PagedList<MyProject.Core.Entities.WeiXinMediaMessage> 

<body style="background-color:#F9F9F9;margin-top:0px;"> 
<div class="widget-box" style="margin-top:0;">
          <div class="widget-title"> 
            <h5>微信素材管理</h5>
          </div>
          <div class="widget-content nopadding">
              <div class="">
                  <div id="DataTables_Table_0_length" class="dataTables_length">
                     @using (Html.BeginForm("Index", "WeiXinMediaMessage", FormMethod.Get))
                        {
                            <table>
                                <tr> 
                                    <td> 
                                         @Html.ToolButton("btnAdd", "新增", permList, "Save", @Url.Action("Save", "WeiXinMediaMessage"), "")
                                    </td>
                                </tr>
            
                            </table>
                        }
                  </div>

              </div>

            <table class="table table-bordered table-striped"> 
                <thead>
                <tr>
                  <th>ID</th>
                  <th>素材标题</th>
                  <th>类型</th>
                  <th>是否永久素材</th> 
                    <th>图片URL</th>
                    <th>日期</th>
                    <th>操作人</th>
                    <th>操作</th>
                </tr>
              </thead>
              <tbody> 
                  @foreach (var item in Model)
                    {
                        <tr >
                            <td style="text-align:center;">
                                @item.Id
                            </td>
                            <td style="text-align:center;">
                                @item.MediaTitle
                            </td>
                            <td style="text-align:center;">
                                @item.MediaType
                            </td>
                            <td style="text-align:center;">
                              @(item.IsForever == 0 ? "永久" : "临时")
                            </td>
                            <td style="text-align:center;">
                               <img src="@item.Url" style="width:30px;height:30px;" /> 
                            </td>
                            <td style="text-align:center;">
                                @item.CreateTime
                            </td>
                            <td style="text-align:center;">
                              @item.Creater
                            </td>
                            <td style="text-align:center;"> 
                                 @Html.ToolButton("btnDelete", "删除", permList, "Delete","", "DeletePost('/WeiXinMediaMessage/Delete?id="+item.Id+"')")
                                 
                            </td>
                        </tr>
                   }
              </tbody>
            </table>  
          </div> 
        </div>
       <div style="">
            @Html.Pager(Model)
       </div> 
</body>  
@section Script
    {
    <script type="text/javascript">
        $(function () {
            $("#btnSave,#btnAdd").colorbox({//弹窗
                iframe: true,
                opacity: 0.8,//遮罩0为透明
                width: "500px",
                height: "380px",
                onClosed: function () {
                    window.location.reload();
                },
                onOpen: function () {
                    //alert('onOpen: colorbox 即将打开');
                },
                onLoad: function () {
                    //alert('onLoad: colorbox已经开始加载目标内容');
                },
                onComplete: function () {
                    //alert('onComplete: colorbox已显示加载内容');
                    $("#colorbox").css({ "width": "500px", "height": "380px", "top": "30px" })//修改弹框/遮罩的宽高
                },
                onCleanup: function () {
                    // alert('onCleanup: colorbox已经开始关闭过程');
                }
            });

        }); 
        function DeletePost(url, data) {
            if (confirm('是否确定删除?')) {
                $.post(url, data, function (json) {
                    alert(json.errmsg);
                    window.location.reload();
                });
            }
        }
    </script>
}