@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyProject.Controllers.AdminUsers.ViewModels.ChangePasswordModel
<script type="text/javascript">
    $(function () {
        $("#form1").validationEngine();
    })
</script>
<div class="right_box_card">
    <ul>
        <li class="right_box_card1"><a href="#">修改密码</a></li>
    </ul>
</div>
@using (Html.BeginForm("ChangePassword", "AdminUsers", FormMethod.Post, new { @class = "formular", id = "form1" }))
{  
    <label>
        <span>@Html.LabelFor(c => c.OldPw)</span>
        @Html.PasswordFor(c => c.OldPw, new { @class = "validate[required,custom[onlyLetterNumber]] text-input" })
    </label>
    <label>
        <span>@Html.LabelFor(c => c.NewPw)</span>
        @Html.PasswordFor(c => c.NewPw, new { @class = "validate[required,custom[onlyLetterNumber]] text-input" })
    </label>
    <label>
        <span>确认密码</span>
        @Html.PasswordFor(c=>c.AgainPw, new { @class = "validate[required,equals[NewPw]] text-input" })
    </label>
    <label>
         <span></span>
        @Html.ValidationSummary()
    </label>
    <label>
         <span><input type="submit" value="保存" class="submit" style="float:left;"/></span>
        
    </label>
       
}