@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyProject.Matrix.Controllers.AdminUsers.ViewModels.ChangePasswordModel
<script type="text/javascript">
    $(function () {
        $("body").css({ "background-color": "#F9F9F9", "margin-top": "0px" });
    });
</script>
<div class="widget-box" style="margin-top: 0; display: block;" id="div_opt_1">
    <div class="widget-title">
        <h5>修改密码</h5>
    </div>
    <div class="widget-content nopadding">
       @using (Html.BeginForm("ChangePassword", "AdminUsers", FormMethod.Post, new { @class = "formular", id = "form1" }))
{  
            <table class="table table-bordered table-striped">
                <tbody> 
                    <tr class="even gradeA">
                        <td>@Html.LabelFor(c => c.OldPw)</td>
                        <td>
                            @Html.PasswordFor(c => c.OldPw, new { @class = "span11", @style = "width:50%;height: 30px;" }) 
                            <span style="color:red;"> @Html.ValidationMessage("OldPw")</span>
                        </td>
                    </tr>
                    <tr class="even gradeA">
                        <td>@Html.LabelFor(c=>c.NewPw)</td>
                        <td>
                            @Html.PasswordFor(c=>c.NewPw, new { @class = "span11", @style = "width:50%;height: 30px;" })
                            <span style="color:red;"> @Html.ValidationMessage("NewPw")</span>
                        </td>
                    </tr>
                    <tr class="even gradeA">
                        <td>@Html.LabelFor(c=>c.AgainPw)</td>
                        <td>
                            @Html.PasswordFor(c=>c.AgainPw, new { @class = "span11", @style = "width:50%;height: 30px;" })
                            <span style="color:red;"> @Html.ValidationMessage("AgainPw")</span>
                        </td>
                    </tr>
                    <tr class="odd gradeA">
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-success btn-mini">保存</button>
                        </td>
                    </tr> 
                </tbody>
            </table> 
        }
    </div>
</div>
 