@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "用户管理";
    var permList = ViewBag.perm as List<MyProject.Core.Dtos.PermDto>;
    if (permList == null)
    {
        permList = new List<MyProject.Core.Dtos.PermDto>();
    }
}
@using MyProject.Services.MvcPager;
@using MyProject.Matrix.Controllers.Core;
@model PagedList<MyProject.Matrix.Controllers.AdminUsers.ViewModels.AdminUserModel> 
@section Script
    {
    <script type="text/javascript"> 
        function IsLock(str, id) {
            if (str == '解锁')
                url = '/AdminUsers/UnLock?id='+id;
            else url = '/AdminUsers/Lock?id=' + id;
            if (confirm('是否确定' + str + '?')) {
                $.post(url, function () {
                    alert(str + "成功");
                    window.location.reload();
                });
            }
        }
        $("body").css("background","");
        </script>
 }
@section style
    {
@*    <style type="text/css">
    .modal-backdrop {
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}
        </style>*@
    } 

   

 
<body style="background-color:#F9F9F9;margin-top:0px;"> 
<div class="widget-box" style="margin-top:0;">
          <div class="widget-title"> 
            <h5>用户列表</h5>
          </div>
          <div class="widget-content nopadding">
              <div class="">
                  <div id="DataTables_Table_0_length" class="dataTables_length">
                     @using (Html.BeginForm("List", "AdminUsers", FormMethod.Get))
                        {
                            <table>
                                <tr>
                                    <td style="padding-right: 15px;">
                                        用户名称：@Html.TextBox("account", null, new { @class = "span11" })
                                    </td>
                                    <td style="padding-right: 15px;">
                                        用户角色：@Html.DropDownList("userRole", ViewBag.RoleList as List<SelectListItem>, new { @style="width: 130px;height: 23px;"})
                                    </td>
                                    <td>
                                        <input type="submit" value="查找" class="btn btn-info btn-mini" style="padding: 4px 6px;font-size: 7px;" />
                                    </td>
                                </tr>
            
                            </table>
                        }
                  </div>

              </div>

            <table class="table table-bordered table-striped"> 
                <thead>
                <tr>
                  <th>ID</th>
                  <th>用户名称</th>
                  <th>角色名称</th>
                  <th>是否锁定</th> 
                    <th>操作</th>
                </tr>
              </thead>
              <tbody> 
                  @foreach (var item in Model)
                    {
                        <tr >
                            <td style="text-align:center;">
                                @item.AdminUserId
                            </td>
                            <td style="text-align:center;">
                                @item.UserName
                            </td>
                            <td style="text-align:center;">
                                @item.RoleName
                            </td>
                            <td style="text-align:center;">
                                @(item.IsLock ? "是":"否")
                            </td>
                            <td style="text-align:center;">
                                 @Html.ToolButtonModal("btnSave", "修改", permList, "Save", "/AdminUsers/Save?id="+item.AdminUserId, "")
                                 @Html.ToolButton("btnDelete", "删除", permList, "Delete","", "DeletePost('/AdminUsers/Delete?id="+item.AdminUserId+"')")
                                 @Html.ToolButton("btnIsLock", item.IsLock ? "解锁":"锁定", permList, "Lock", "", "IsLock("+(item.IsLock ? "'解锁'":"'锁定'")+","+item.AdminUserId+")")

                            </td>
                        </tr>
                   }
              </tbody>
            </table>  
          </div> 
        </div>
       <div style="">
            @Html.Pager(Model)
       </div>
  
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">    
    <div class="modal-dialog" role="document">    
        <div class="modal-content">    
            <div class="modal-header">    
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">    
                    <span aria-hidden="true">×</span>    
                </button>    
                <h4 class="modal-title" id="myModalLabel">新增/保存</h4>    
            </div>    
            <div class="modal-body">    
                <iframe frameborder="0" name="0" id="iframepage0" src="/adminusers/Save" ></iframe>  
            </div>   
        </div>    
    </div>    
</div>   


</body>
 
<script src="/Content/Matrix_Admin/js/jquery.min.js"></script>  
<script src="/Content/Matrix_Admin/js/bootstrap.min.js"></script>   
 