@{
    ViewBag.Title = "保存新用户";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MyProject.Matrix.Controllers.AdminUsers.ViewModels.SaveAdminUserModel

@using (Html.BeginForm("Save", "AdminUsers", FormMethod.Post, new { @class = "formular", id = "form1" }))
{
    @Html.HiddenFor(c => c.AdminUserId)
    <table class="table table-bordered table-striped"> 
              <tbody> 
                <tr class="even gradeC">
                  <td style="width:150px;">@Html.LabelFor(c => c.RoleId)</td>
                  <td >
                        @Html.DropDownListFor(c => c.RoleId, ViewBag.RoleList as List<SelectListItem>, new {  @style="width:50%;height: 30px;" })
                  </td> 
                </tr>
                   <tr class="even gradeA">
                  <td>@Html.LabelFor(c => c.UserName1)</td>
                  <td >  
                       @Html.TextBoxFor(c => c.UserName1, new { @class = "span11", @style="width:50%;height: 30px;" , @value=""})
                  </td> 
                </tr>
                <tr class="even gradeA">
                  <td>@Html.LabelFor(c => c.Password)</td>
                  <td>   
                       @Html.PasswordFor(c => c.Password, new {@class = "span11", @style="width:50%;height: 30px;"  })
                  </td> 
                </tr>
                <tr class="even gradeA">
                  <td>确认密码</td>
                  <td> 
                       @Html.Password("pass", null, new {@class = "span11", @style="width:50%;height: 30px;" })
                  </td> 
                </tr>  
                       <tr class="odd gradeA">
                  <td>  @Html.ValidationSummary()</td>
                  <td > 
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>    
                        <button type="submit" class="btn btn-primary" id="td_submit_opt">保存</button>    
                  </td> 
                </tr>  
              </tbody>
            </table>
 
}